@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {

    color: #fff;
    padding: 10px;
    margin-top: auto;
    bottom: 0 !important;
}